/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */
/*@import url('https://fonts.googleapis.com/css?family=Ubuntu');*/
@import url('https://webfonts.brand.ucsb.edu/webfont.min.css');


/**
UCSB Utility Bar
 ============================================================================ */
/*@import url("http://fonts.googleapis.com/css?family=Hind:400,500,600,700,300");.ucsb-utility-bar{overflow:hidden;position:absolute;top:0px;left:0px;right:0px;width:100%;height:30px;font-family:Hind,sans-serif;font-size:14px;line-height:1.5;z-index:9997 !important;overflow:visible;background:#18335d}.ucsb-utility-bar div{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}.ucsb-utility-bar .ucsb-utility-bar-wrapper{height:30px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;position:relative}.ucsb-utility-bar .ucsb-utility-bar-home{float:left}.ucsb-utility-bar .ucsb-utility-bar-home a{background:url(../../images/ucsb-wordmark.png);background:url(../../images/ucsb-wordmark.svg),linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));background-repeat:no-repeat;width:200px;height:15px;display:block;text-indent:-999em;overflow:hidden;margin:-11px 0}.ucsb-utility-bar .ucsb-utility-bar-options{height:30px;position:absolute;top:0px;right:0px}.ucsb-utility-bar .ucsb-utility-bar-search{overflow:hidden;float:left;background:#18335d}.ucsb-utility-bar input,.ucsb-utility-bar button{font-family:inherit;font-size:inherit;line-height:inherit}.ucsb-utility-bar .ucsb-utility-bar-search-field{float:left;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;-webkit-appearance:none;background-color:#fff;border:1px solid #e9e9e9;color:#4d4e4e;font-size:14px;width:170px;padding:6px;height:30px;display:none;position:absolute;top:30px;right:0}.ucsb-utility-bar .ucsb-utility-bar-search-submit{background:#18335d;position:absolute;top:2px;right:1px;margin:2px;padding:2px 6px}.ucsb-utility-bar .ucsb-utility-bar-wrapper:after{clear:both}.ucsb-utility-bar .ucsb-utility-bar-wrapper:before,.ucsb-utility-bar .ucsb-utility-bar-wrapper:after{content:" ";display:table}.ucsb-utility-bar *,.ucsb-utility-bar *:before,.ucsb-utility-bar *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.ucsb-utility-bar html,.ucsb-utility-bar body,.ucsb-utility-bar div,.ucsb-utility-bar span,.ucsb-utility-bar applet,.ucsb-utility-bar object,.ucsb-utility-bar iframe,.ucsb-utility-bar h1,.ucsb-utility-bar h2,.ucsb-utility-bar h3,.ucsb-utility-bar h4,.ucsb-utility-bar h5,.ucsb-utility-bar h6,.ucsb-utility-bar p,.ucsb-utility-bar blockquote,.ucsb-utility-bar pre,.ucsb-utility-bar a,.ucsb-utility-bar abbr,.ucsb-utility-bar acronym,.ucsb-utility-bar address,.ucsb-utility-bar big,.ucsb-utility-bar cite,.ucsb-utility-bar code,.ucsb-utility-bar del,.ucsb-utility-bar dfn,.ucsb-utility-bar em,.ucsb-utility-bar img,.ucsb-utility-bar ins,.ucsb-utility-bar kbd,.ucsb-utility-bar q,.ucsb-utility-bar s,.ucsb-utility-bar samp,.ucsb-utility-bar small,.ucsb-utility-bar strike,.ucsb-utility-bar strong,.ucsb-utility-bar sub,.ucsb-utility-bar sup,.ucsb-utility-bar tt,.ucsb-utility-bar var,.ucsb-utility-bar b,.ucsb-utility-bar u,.ucsb-utility-bar i,.ucsb-utility-bar center,.ucsb-utility-bar dl,.ucsb-utility-bar dt,.ucsb-utility-bar dd,.ucsb-utility-bar ol,.ucsb-utility-bar ul,.ucsb-utility-bar li,.ucsb-utility-bar fieldset,.ucsb-utility-bar form,.ucsb-utility-bar label,.ucsb-utility-bar legend,.ucsb-utility-bar table,.ucsb-utility-bar caption,.ucsb-utility-bar tbody,.ucsb-utility-bar tfoot,.ucsb-utility-bar thead,.ucsb-utility-bar tr,.ucsb-utility-bar th,.ucsb-utility-bar td,.ucsb-utility-bar article,.ucsb-utility-bar aside,.ucsb-utility-bar canvas,.ucsb-utility-bar details,.ucsb-utility-bar embed,.ucsb-utility-bar figure,.ucsb-utility-bar figcaption,.ucsb-utility-bar footer,.ucsb-utility-bar header,.ucsb-utility-bar hgroup,.ucsb-utility-bar menu,.ucsb-utility-bar nav,.ucsb-utility-bar output,.ucsb-utility-bar ruby,.ucsb-utility-bar section,.ucsb-utility-bar summary,.ucsb-utility-bar time,.ucsb-utility-bar mark,.ucsb-utility-bar audio,.ucsb-utility-bar video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}@media (min-width: 480px){.ucsb-utility-bar .ucsb-utility-bar-search-field{display:block;position:static;top:auto;right:auto}.ucsb-utility-bar .ucsb-utility-bar-search-field{border:2px solid #18335d}}@media (min-width: 768px){.ucsb-utility-bar .ucsb-utility-bar-wrapper{width:750px}}@media (min-width: 992px){.ucsb-utility-bar .ucsb-utility-bar-wrapper{width:970px}}@media (min-width: 1200px){.ucsb-utility-bar .ucsb-utility-bar-wrapper{width:1170px}}
*/
.ucsb-utility-bar {overflow:hidden;}

.ucsb-utility-bar .ucsb-utility-bar-home a {
    overflow: hidden;
    margin: 7px 0;
    position: absolute;
    top: -20px;
    left: 10px;
}

.pr-leaderboard__leaderboard .contextual-region,
.contextual-region {
    position: none;
}

/**
Site
 ============================================================================ */
body {
  background-color: #111517;
}

.page.js-layout {
    background-color: #f7f7f7;
}

.site-branding__name {
    font-size: 2.5rem;
}

.site-branding__text {
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.site-branding__slogan {
    margin-top: 20px;
}

.pr-navbar {
    border-bottom: none;
    background-color: transparent;
    font-family:Avenir, "Century Gothic", sans-serif;
    margin-bottom: 15px;
}
@media only screen and (min-width: 480px) {
	.pr-navbar {
		border-bottom: 1px solid #ddd;
		margin-bottom: 0px;
	}
}
.pr-header {
    //color: #363636;
    background-color: transparent;
    margin-bottom: 30px;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > a {
    color: #666;
    font-size: 17px;
    text-transform: uppercase;
}

.pr-leaderboard .block-menu .menu-level-1 {
    float: right;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > a.is-active,
.ms-dropmenu .rm-block__content .menu-level-1 > li > span > a.is-active[href="/"] {
	  color: #666;
    border-bottom: 3px solid #ffce34;
    background-color: transparent;
}

.ms-dropmenu .rm-block__content .menu-level-2 a, .ms-horizontal .rm-block__content .menu-level-2 a {
    color: #ffffff;
    background-color: #0093d5;
}
.ms-dropmenu .rm-block__content .menu-level-2 a:hover, .ms-horizontal .rm-block__content .menu-level-2 a:hover {
    color: #ffffff;
    background-color: #59b6e6;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > a:hover,
.ms-dropmenu .rm-block__content .menu-level-1 > li > span > a.menu__link.is-active:hover {
	color: #fff;
    background-color: #00468b;
    border-bottom: 3px solid #59b6e6;
}

.ms-dropmenu .rm-block__content .menu-level-1 > li > span > a {
  border-bottom: 3px solid transparent;
  letter-spacing: 1px;
}

/* Members */

.flex-container {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    justify-content: space-between;
}

.flex-item-img .roundimg {
    //background-color: cornflowerblue;
    border-radius: 75px;
    border: 5px solid #ddd;
    overflow: hidden;
    width:150px;
    height: auto;
    margin-right: 20px;
}
.flex-item-words {
    //background-color: cornflowerblue;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    //height: 100px;
    //margin: 10px;
}
.flex-item-words .name {
	font-size: 20px;
}
.flex-item-img img {
    width:100%;
    height: 100%;
}

.flex-item-words .vertcen {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.field.field-node--field-awards-of-distinction.field-formatter-string.field-name-field-awards-of-distinction.field-type-string.field-label-inline.clearfix.has-multiple .field__items .field__item,
.field.field-node--field-awards-of-distinction.field-formatter-string.field-name-field-awards-of-distinction.field-type-string.field-label-inline.clearfix.has-multiple .field__label {
    display: block;
}

/* Nav */

nav#block-faculty-main-menu {
    display: block;
    width: 100%;
    float: left;
}

div#block-faculty-search {
    width: 100%;
    height: 25px;
    display: block;
    float: right;
    margin-top:-10px;
}

@media only screen and (min-width: 480px) {
  .rm-toggle__link {
    text-transform: uppercase;
  }

  nav#block-faculty-main-menu {
    width: 50%;
    text-transform: uppercase;
  }

	div#block-faculty-search {
		width: 49%;
	}
}

@media only screen and (min-width: 960px) {
	nav#block-faculty-main-menu {
		width: 80%;
	}

	div#block-faculty-search {
		width: 19%;
	}
}

/* Footer */

.pr-footer {
    color: #f1f1f1;
    background-color: #111517;
    text-align:left;
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
}
.pr-footer a, .pr-footer a:hover {
    color: #f1f1f1;
    text-decoration:underline;
}

.pr-footer .regions {
    max-width: 80em;
}

/* Node */

.node {
    background-color: transparent;
    box-shadow: none;
}

/* Field text block */

.views-field.views-field-field-text-block {
    max-width: 800px;
    margin: 20px auto;
}

/* to be organized later */
.site-branding__text {
    margin: 25px 0px 0px 0px;
}
.site-branding__name {
    margin-bottom: 10px;
}
.site-branding__name-link {
    line-height: 2.8rem;
}
div#block-faculty-page-title {
    width: 100%;
}
a.site-branding__logo-link img {
    margin-top: 10px;
    width: 300px;
    height: auto;
}

.field.field-node--field-external-website.field-formatter-link.field-name-field-external-website.field-type-link.field-label-inline.clearfix.has-multiple div.field__item,
.field.field-node--field-external-website.field-formatter-link.field-name-field-external-website.field-type-link.field-label-inline.clearfix.has-multiple h3.field__label {
    display: block;
}

div.view-publications .views-field.views-field-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    margin-top: 10px;
}

article.node--type-poster .node__meta {
    display: none;
}

.rm-toggle__link, .rm-toggle__link:hover, .rm-toggle__link:focus, .rm-toggle__link:active {
    background-color: #00468b;
}

.ms-slidedown .rm-block__content .menu a,
.ms-slidedown .rm-block__content .menu a.is-active,
.ms-slidedown .rm-block__content .menu a.is-active[href="/"] {
	background-color: #00468b;
}

.ms-slidedown .rm-block__content .menu .rm-accordion-trigger,
.ms-slidedown .rm-block__content .menu .rm-accordion-trigger:hover,
.ms-slidedown .rm-block__content .menu .rm-accordion-trigger:focus,
.ms-slidedown .rm-block__content .menu a:hover,
.ms-slidedown .rm-block__content .menu a.is-active:hover,
.ms-slidedown .rm-block__content .menu a.is-active[href="/"]:hover {
	background-color: #59b6e6;
}
::selection {
	background-color:#f37520;
}

div#block-footer.block {
    margin: 20px 0 0 0;
}
div#block-footer.block p {
    margin: 0 0 10px 0;
}
#block-footer .block__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#block-footer .block__inner .coe {
    display: block;
    min-width: 200px;
    height: auto;
    margin: 20px auto;
}
@media only screen and (min-width: 480px) {
	#block-footer .block__inner {
		display: flex;
		flex-direction: row;
		text-align: left;
	}
	#block-footer .block__inner .coe {
		margin: 20px;
	}
}

.site-branding__name-link:link, .site-branding__name-link:visited {
  color: #002B4C;
  font-weight: 600;
}

.site-branding__name-link:hover, .site-branding__name-link:active {
  color: #003660;
}
